@charset "utf-8";
@media  only screen and (min-width: 768px){
    #burger{
        display: none;
    }
   

    menu {
        display: block;
        border-radius: 10px;

    }
    menu> ul> li{
        display:  inline-block;
       
       margin-left: 10px;
      
    }
    header h1{
        height: 80px;
    }Main{
        width: 750px;
    }

    
}