<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Sobre mim</title>
</head>
<body>
    <h1> Sobre mim </h1>
    <img src="../media/image/c.jpg" width="200" height="200" alt="paulo">
    <hr>
    <dl>
        <dt>
            Meu nome :
        </dt>
        <dd>
            
                <strong>Paulo Bumba</strong> de nacionalidade angolona nascido aos 27 de setembro de 2000 <br> filho de Mário Paulo Bumba e de Cristina João Valente portador do CPF <ins>11450564151</ins> <br> estudante do curso de <mark>
                    Ciência da Computação 
                </mark> na <em>Unoesc</em>.
            
        </dd>
       
        
    </dl>
    <p>Sou apreciador de solfware e amante de delovement web daqui mais um ano eu me vejo com <br> web a ideia é ser um dev full Stack trabalhar com html e css e javascript para front end ( side client) <br> talver tralhar com flask ou django para desenvolimente no back end(side server ) digo isso <br> porquê vai depender do prjecto que tenho de desenvolver a ideia é mesmo ser bom e fazer com robusteis <br> quando me tornar um dev em fullstack segundo Mário Paulo Bumba <q>Na vida temos que fazer sacríficio <br>   grande pra obter coisas grande</q> fazer value essa citação é um privilégio porque pra além de <br> uma música também fico uma meta a desenvolver</p>
    <h2>Tempos livres</h2>

    <p>Nos meu tempo livre eu amo jogar football eu cresci a almear ser um jogador devido as circustança <br> a vida nos apronta então acabamos a ser um dev. </p>
    <p>Sou e fui melhor jogador eleito pelo Juvs 2023 pela Unoesc Videira</p>
    <video controls preload="autoplay"  width="300" height="300">
        <source src="../media/video/a.mp4" type="video/mp4">
    </video>
    <p>Sou amante é apreciador de musica em diverso tipo de estilo <br>
    mas, até ao m0mento a minha musica favorita é da trx com título aprendi
    </p>
    <audio controls preload="autoplay" >
        <source src="../media/audio/TRX Music - Aprendi.mp3" type="audio/mp3">
    </audio>
    <p><button style="text-align: left;" ><a href="homepage.html" >Pagina Inicial</a></button></p>
    <p><button  style="text-align: right;"><a href="contacto.html" >Next</a></button></p>

</body>
</html>